<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoveChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MoveChecker.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FromFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ToBaseFolder" serializeAs="String">
                <value />
            </setting>
        </MoveChecker.Properties.Settings>
    </userSettings>
</configuration>